/.metadata/
/Servers/
/CourseToGo/mapper/
/CourseToGo/CourseToGo/pom.xml

/CourseToGo/CourseToGo/.settings/
/CourseToGo/CourseToGo/target/
/CourseToGo/CourseToGo/src/main/resources/application.properties