@charset "UTF-8";

  .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .left {
    flex: 1;
    text-align: left;
    margin-left: 220px;
     margin-bottom: 10px;
  }

  .right {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;

  }

  .right form {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    width: 100%;
  }

  .right input[type="text"] {
    flex-grow: 1;
    box-sizing: border-box;
  }

  .right textarea {
    flex-grow: 1;
    box-sizing: border-box;
    height: 26px;
  }

  .right button[type="submit"] {
    flex-grow: 1;
    box-sizing: border-box;
  }
  
  .displayMap{
  	z-index: 2;
  	margin-left: 220px;
  }
  
  .searchResults{
  	position: absolute;
  	z-index: 3;
  	text-align: left;
  	margin-left: 250px;
  	font-weight: bold;
  	height: 400px;
  	width: 250px;
  	overflow-y: auto;
 	background-color: #ffffff;
  }
  
  .searchResults::-webkit-scrollbar {
    width: 10px;
  }
  .searchResults::-webkit-scrollbar-thumb {
    background-color: #2f3542;
  }
  .searchResults::-webkit-scrollbar-track {
    background-color: grey;
  }
  
  .markerInputs{
  	position: fixed;
  	top:100px;
  	right: 0;
  	margin-right: 20px;
  	font-weight: 900;
  	  	
  }
  
  .hr{
  background:black;
  height: 2px;
  border: 1;
  }