@charset "UTF-8";

/* 추천 장소 위치 */
.recommendPlace {
    position: absolute;
    bottom: 30px;
    left: 790px;
    width: 780px;
    height: 380px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.title, .recommendPlaceList {
	color: black;
    align-items: center;
    vertical-align: top;
}

.title {
	font-size: 30px;
    display: block;
    margin-top: 0;
    height: 30px;
    padding-left: 10px;
}

.recommendPlaceList {
	width:100%;
	height:400px;
	display: flex;
	flex-direction: column;
}

.list {
	width: 100%;
	height: 30%;
	flex-basis: 25%;
	font-size: 30px;
	display: flex; /* 리스트 내부 요소를 가로로 정렬하기 위한 flex 속성 설정 */
	flex-direction: row;
	align-items: center;
	padding-top: 5px;
}

.list > div {
	flex-basis: 25%; /* flex 설정된 display 내부에 가로 너비를 25%로 설정(4개로 나눔) */
	padding: 10px; /* 요소들 사이의 간격 설정 */
	font-size: 18px;
	
}

.placeImg {
	width: 88px;
	height: 88px;
}

.score {
	display: flex;
	flex-direction: row;
}

/* 별 모양 스타일링 */
.star {
  margin-left: 20px;
  margin-top: 5px;
  position: relative;
  display: block;
  color: purple;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 14px solid purple;
  border-left: 20px solid transparent;
  transform: rotate(35deg);
}

.star:before {
  border-bottom: 16px solid purple;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -9px;
  left: -13px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: purple;
  top: 1px;
  left: -21px;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 14px solid purple;
  border-left: 20px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.score-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranking, .placeName, .score {
	margin-bottom: 10px;
}